* {
    margin : 0;
    padding : 0;
    font-family: "Rubik Gemstones", sans-serif;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;
}



.main_box {
    background : url(photo.jpg) no-repeat center center;
    min-height : 100vh;
    background-size : cover;
}

.btn_one i {
    color : white;
    height: 35px;
    font-weight: 700px;
    position : fixed;
    top : 16px;
    left : 16px;
    line-height: 1;
    font-size: 24px;
    transition: all 0.4s ease;
    cursor:pointer;
}

.sidebar_menu {
    position : fixed;
    left : -100%;
    width: 80%;
    height : 100vh;
    max-width : 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.2);
    transition: all 0.4s linear;
}

.sidebar_menu .logo{
    position : absolute;
    width : 100%;
    height: 60px;
    display:flex;
    align-items: center;;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.2);
}

.sidebar_menu .logo a {
    position : absolute;
    left : 16px;
    color: white;
    text-decoration: none;
    font-size: clamp(22px, 5vw, 32px);
    font-weight: 700;
    box-shadow: 0 0 4px rgba(255,255,255,0.2);
}

.sidebar_menu .btn_two i{
    color : grey;
    font-size : 24px;
    line-height: 60px;
    position : absolute;
    right:16px;
    top:16px;
    opacity : 0;
    cursor : pointer;
    transition: all 0.4s linear;
}

.sidebar_menu .menu {
    color : white;
    position : absolute;
    width : 100%;
    top : 80px;
}

.sidebar_menu .menu li {
    margin-top : 6px;
    padding: 12px 20px;
    display:flex;
    align-items:center;
}

.sidebar_menu .menu i,a {
    color : white;
    text-decoration: none;
    font-size: clamp(16px, 4vw, 20px);
}

.sidebar_menu .menu i {
    padding-right : 8px;
}

.sidebar_menu .social_media {
    
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
}

.sidebar_menu .social_media i {
    color:white;
    opacity: 0.5;
    padding: 0 5px;
    
}

@media (min-width: 768px) {
    .sidebar_menu {
        width: 300px;
    }

    .btn_one i {
        font-size: 28px;
    }
}

#check {
    display : none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.2);
}

.btn_one i:hover{
    height : 60px;
    transform: scale(1.3);

}

.sidebar_menu .btn_two i:hover{
    font-size : 30px;
}

.sidebar_menu .social_media i:hover{
    opacity : 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left:0;
}

#check:checked ~ .btn_one i {
    opacity:0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity:1;
}